@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>   
    <nav class="navbar sticky-top navbar-primary bg-warning">
        <div class="text-center">
            <a class="btn btn-primary" href="/dashboard/index">Home</a>
            <a class="btn btn-primary" href="/dashboard/myprofile">Profile</a>
            <a class="btn btn-primary" href="/dashboard/Students">Students</a>
            <a class="btn btn-primary" href="/dashboard/logout">Logout</a>
        </div>
    </nav>
    
  
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <div>
        Copyright @@ @DateTime.Now.Year
    </div>
</body>
</html>
