@model List<WebApplication1.Entity.CourseStudent>
@{
    ViewBag.Title = "CourseDetailes";
    Layout = "~/Views/Shared/loggedLayout.cshtml";
}


<div class="container mt-5">
    <h2 class="text-center">Course Detailes</h2>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <tr class="table-warning">
                    <td>ID</td>
                    <td>Course Name</td>
                    <td>Student Name</td>
                    <td>Access</td>
                </tr>
                @if (Model.Any())
                {
                    foreach (var course in Model)
                    {
                        <tr>
                            <td>@course.Id</td>
                            <td>@course.Cours.CourseName</td>
                            <td><a href="@Url.Action("Details", "Dashboard", new { id = course.Student.Id })">@course.Student.Name</a></td>
                            <td>@course.Access</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">No Students Yet !</td>
                    </tr>
                }
            </table>

            <a class="btn btn-primary" href="@(Request.UrlReferrer?.ToString() ?? Url.Action("Index", "Home"))">Back</a>
        </div>
    </div>

</div>
