
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/loggedLayout.cshtml";
}

@if (TempData["msg"] != null)
{
    <span>@TempData["Msg"]</span>
}
<table class="table table-success table-bordered border-dark table-hover">
    <tr class="table-warning border-dark">
        <td>Serial</td>
        <td>Name</td>
    </tr>
 <tr>
     <td>@ViewBag.list.Id</td>
     <td>@ViewBag.list.Name</td>
     <td>@ViewBag.list.CGPA</td>
 </tr>


</table>
<h2> Table 1</h2>
<table class="table table-success table-bordered border-dark table-hover">
    <tr class="table-warning border-dark">
        <td>ID</td>
        <td>Name</td>
        <td>CGPA</td>
    </tr>

    @foreach (var items in ViewBag.multipleList)
    {
        <tr>
            <td>@items.Id</td>
            <td>@items.Name</td>
            <td>@items.CGPA</td>
        </tr>
     }
       
    </table>
<h2>Table 2</h2>
<table class="table table-success table-bordered border-dark table-hover">
    <tr class="table-warning border-dark">
        <td>ID</td>
        <td>Name</td>
        <td>CGPA</td>
    </tr>

    @foreach (var items in ViewBag.newList)
    {
        <tr>
            <td>@items.Id</td>
            <td>@items.Name</td>
            <td>@items.CGPA</td>
        </tr>
     }
       
    </table>