
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/loggedLayout.cshtml";
}

@*
    @if (@Session["email"] == null)
    {

        Response.Redirect("~/Home/Login");
    }
    else
    {
        <h2>Session:- @Session["email"]!</h2>
    }

    @if (@ViewBag.username == "undefined")
    {
        <h2>Cookie:- Login Required</h2>
    }
    else
    {
        <h2>cookie :- @ViewBag.username</h2>
    }
*@

<div class="container mt-5">
    <h2 class="text-center">Personal Information</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="https://picsum.photos/300" alt="Random Image from Picsum">

        </div>
        <div class="col-md-8">

            <table class="table table-bordered border-dark table-hover">
                <tbody>

                    <tr>
                        <td>Name</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>@(string.Format("0{0}", Model.Phone))</td>
                    </tr>
                    <tr>
                        <td>Dob</td>
                        <td>@Model.Dob.ToString("dd-MMM-yyyy")</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>@Model.Gender</td>
                    </tr>
                </tbody>
            </table>
            <a href="@Url.Action("Update", new { id = @Model.Id })" class="btn btn-primary">Edit/Update</a>
        </div>
    </div>
</div>