@model List<WebApplication1.Entity.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/loggedLayout.cshtml";
}

@*
    @if (ViewBag.Deleted != null && (bool)ViewBag.Deleted == true)
    {
        <div class="alert alert-success">
            The record was deleted successfully.
        </div>
    }
    else if (ViewBag.Deleted != null && (bool)ViewBag.Deleted == false)
    {

            There was an error deleting the record.
        </div>
    } *@

@if (ViewBag.Id != null)
{

    if (@ViewBag.result == 0)
    {
        <div class="alert alert-danger">
            <p>Id - @ViewBag.Id Failed to Delete</p>
        </div>

    }
    else
    {
        <div class="alert alert-danger">
            <p>Id - @ViewBag.Id deleted Successfully</p>
        </div>
    }

}
@if (TempData["id"] != null && TempData["result"] != null)
{
    <div class="alert alert-info" role="alert">
        <span>id -(@TempData["id"]) : @TempData["result"]</span>
    </div>
}
<h2>Students from DATABASE by model</h2>
<table class="table table-bordered table-hover">
    <tr class="table-warning">
        <td>Name</td>
        <td>Email</td>
        <td>Gender</td>
        <td>Department</td>
        <td>Action</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@Url.Action("Details", "Dashboard", new { id = item.Id })">@item.Name</a></td>
            <td>@item.Email</td>
            <td>@item.Gender</td>
            <td>@item.Dept.DeptName</td>
            <td><a href="@Url.Action("Delete", "Dashboard", new { id = item.Id })" class="btn btn-danger"><i class="fas fa-trash"></i>  Delete</a></td>
           
        </tr>
    }

</table>
